"*":
  "activate-power-mode":
    autoToggle: false
  "autocomplete-emojis":
    enableUnicodeEmojis: false
  "autocomplete-plus":
    enableAutoActivation: false
    minimumWordLength: 1
  core:
    customFileTypes:
      "source.ruby": [
        "god",
        "pp"
      ]
    destroyEmptyPanes: false
    disabledPackages: [
      "nvatom"
      "branch-status"
      "linter"
      "linter-rubocop"
      "indent-guide-improved"
    ]
    ignoredNames: [
      ".DS_Store"
      ".git"
      "vendor"
    ]
    telemetryConsent: "no"
    useCustomTitleBar: true
  editor:
    autoIndentOnPaste: false
    fontSize: 11
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
  "file-icons":
    onChanges: true
    revealTreeView: false
  "find-and-replace":
    projectSearchResultsPaneSplitDirection: "right"
  "git-projects":
    maxDepth: 1
    rootPath: "~/github;~/src"
  "highlight-line":
    enableBackgroundColor: false
  "markdown-writer": {}
  "merge-conflicts":
    gitPath: "bin/git"
  "notational-velocity":
    directory: "/Users/j/.notes"
  nvatom:
    directory: "/Users/j/.notes"
  "one-dark-ui":
    layoutMode: "Compact"
  "one-light-ui":
    layoutMode: "Compact"
  "outdoor-theme":
    lightLevelToSwitch: 5904360
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  tabs:
    enableVcsColoring: true
  welcome:
    showOnStartup: false
".git-commit.text":
  editor:
    preferredLineLength: 72
