"*":
  Zen:
    softWrap: true
    width: 120
  "activate-power-mode":
    autoToggle: false
  "atom-ide-ui":
    "atom-ide-datatip":
      datatipDebounceDelay: 500
    use: {}
  "autocomplete-emojis":
    enableUnicodeEmojis: false
  "autocomplete-plus":
    enableAutoActivation: false
    minimumWordLength: 1
  "bracket-matcher":
    highlightMatchingLineNumber: true
  core:
    customFileTypes:
      "source.ruby": [
        "god"
        "pp"
      ]
    debugLSP: true
    destroyEmptyPanes: false
    ignoredNames: [
      ".DS_Store"
      ".git"
      "vendor"
    ]
    telemetryConsent: "limited"
    titleBar: "custom"
    uriHandlerRegistration: "always"
  editor:
    autoIndentOnPaste: false
    invisibles: {}
    scrollPastEnd: true
  "file-icons":
    onChanges: true
    revealTreeView: false
  "find-and-replace":
    projectSearchResultsPaneSplitDirection: "right"
  "git-projects":
    maxDepth: 1
    rootPath: "~/github;~/src"
  "highlight-line":
    enableBackgroundColor: false
  "linter-ui-default":
    panelHeight: 300
  "markdown-preview":
    useGitHubStyle: true
  "markdown-writer": {}
  "merge-conflicts":
    gitPath: "bin/git"
  "notational-velocity":
    directory: "/Users/j/.notes"
  nvatom:
    directory: "/Users/j/.notes"
  "one-dark-ui": {}
  "one-light-ui": {}
  "outdoor-theme":
    lightLevelToSwitch: 5904360
  "project-folder":
    closeItemsForRemovedProject: true
    projectRootDirectories: [
      "~/github"
      "~/src"
      "~/.dotfiles"
      "~/Dropbox"
    ]
  "real-time": {}
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "status-bar": {}
  swackets:
    colorBrackets: false
    colorParens: true
  tabs:
    enableVcsColoring: true
  teletype:
    askBeforeJoiningPortalViaExternalApp: false
    dev: {}
  welcome:
    showOnStartup: false
".git-commit.text":
  editor:
    preferredLineLength: 72
