'.workspace':
  'ctrl-h': 'window:focus-pane-on-left'
  'ctrl-j': 'window:focus-pane-below'
  'ctrl-k': 'window:focus-pane-above'
  'ctrl-l': 'window:focus-pane-on-right'

  'ctrl-|': 'pane:split-right'
  'ctrl--': 'pane:split-down'

  # Declare keymaps for the commands defined in init.coffee
  'alt-cmd-ctrl-b': 'dot-atom:demo'
  'ctrl-;':         'dot-atom:delete-to-end-of-line'
  'ctrl-. h':       'dot-atom:move-to-top-visible-line'
  'ctrl-. m':       'dot-atom:move-to-middle-visible-line'
  'ctrl-. l':       'dot-atom:move-to-bottom-visible-line'
  'ctrl-. t':       'dot-atom:scroll-cursor-to-top'
  'ctrl-. z':       'dot-atom:scroll-cursor-to-center'
  'ctrl-. b':       'dot-atom:scroll-cursor-to-bottom'

'.workspace, .command-palette .editor':
  'cmd-p': 'command-palette:toggle'
