'atom-workspace atom-pane, atom-workspace atom-text-editor:not(.mini)':
  'ctrl-h': 'window:focus-pane-on-left'
  'ctrl-j': 'window:focus-pane-below'
  'ctrl-k': 'window:focus-pane-above'
  'ctrl-l': 'window:focus-pane-on-right'

  'ctrl-|': 'pane:split-right-and-copy-active-item'
  'ctrl--': 'pane:split-down-and-copy-active-item'

'.github-StagingView':
  'ctrl-j': 'core:focus-next'
  'ctrl-k': 'core:focus-previous'
  'ctrl-h': 'core:move-left'

'.github-CommitView-editor atom-text-editor:not([mini])':
  'ctrl-k': 'core:focus-previous'

'.github-FilePatchView':
  'ctrl-l': 'core:move-right'

'atom-workspace atom-text-editor:not(.mini)':
  'ctrl-a': 'editor:move-to-beginning-of-line'
  'ctrl-;': 'editor:delete-to-end-of-line'

  'ctrl-g j': 'dot-atom:center-next-diff'
  'ctrl-g k': 'dot-atom:center-previous-diff'

  'ctrl-. h': 'dot-atom:move-to-top-visible-line'
  'ctrl-. m': 'dot-atom:move-to-middle-visible-line'
  'ctrl-. l': 'dot-atom:move-to-bottom-visible-line'
  'ctrl-. t': 'dot-atom:scroll-cursor-to-top'
  'ctrl-. z': 'dot-atom:scroll-cursor-to-center'
  'ctrl-. b': 'dot-atom:scroll-cursor-to-bottom'

  'ctrl-/': 'smalls:start'

  'ctrl-d': 'toggle-markdown-task:toggle'

# The maximize-panes package (https://atom.io/packages/maximize-panes)
# overwrites Atom's default keybinding for the 'editor:newline-above' command.
# Let's restore that keybinding.
'.platform-darwin atom-workspace atom-text-editor:not([mini])':
  'shift-cmd-enter': 'editor:newline-above'
  'alt-cmd-m': 'maximize-panes:maximize'

'atom-workspace':
  'alt-cmd-ctrl-b': 'dot-atom:demo'
  'alt-cmd-s': 'dot-atom:save-all'

'atom-workspace, .command-palette atom-text-editor':
  'cmd-p': 'command-palette:toggle'
