".source.gfm":
  "<kbd> tag":
    prefix: "kbd"
    body: "<kbd>$1</kbd>$2"

".text.html.erb .source.ruby":
  "Scriptlet":
    prefix: "-"
    body: "<% $1 %>"

  "Expression":
    prefix: "="
    body: "<%= $1 %>"

  "Comment":
    prefix: "#"
    body: "<%# $1 %>"

".source.ruby":
  "Hashrocket":
    prefix: "="
    body: " => "

  "Curly braces block":
    prefix: "{"
    body: "{ |${1:variable}| $2 "

  "Context block":
    prefix: "context"
    body: """
      context "$1" do
        $2
      end
    """

  "describe block":
    prefix: "desc"
    body: """
      describe '$1' do
        $2
      end
    """

  "it block":
    prefix: "it"
    body: """
      it '$1' do
        $2
      end
    """

  "Test block":
    prefix: "test"
    body: """
      test "$1" do
        $2
      end
    """

".source.coffee":
  "Describe block":
    prefix: "de"
    body: """
      describe "${1:description}", ->
        ${2:body}
    """
  "It block":
    prefix: "it"
    body: """
      it "$1", ->
        $2
    """
  "Before each":
    prefix: "be"
    body: """
      beforeEach ->
        $1
    """
  "After each":
    prefix: "af"
    body: """
      afterEach ->
        $1
    """
  "Expectation":
    prefix: "ex"
    body: "expect($1).to$2"
  "Console log":
    prefix: "log"
    body: "console.log $1"
  "Range array":
    prefix: "ra"
    body: "[[$1, $2], [$3, $4]]"
  "Point array":
    prefix: "pt"
    body: "[$1, $2]"
  "Key-value pair":
    prefix: ":"
    body: '${1:"${2:key}"}: ${3:value}'
  "Create Jasmine spy":
    prefix: "spy"
    body: 'jasmine.createSpy("${1:description}")$2'

".source.js": {
  'Console Log':
    prefix: 'cl'
    body: "$4console.${3:log}('${2:$1}', $1);$0"

  "f":
    prefix: "x"
    body: '() => ${1:\\{$2\\}}'

  "for":
    prefix: "for"
    body: "for (let ${2:i} = 0; ${2:i} < ${1:array}.length; ${2:i}++) {\n\t${1:array}[${2:i}]$3\n}"

  "Test block": {
    prefix: "test"
    body: """
      test('$1', () => {
        $2
      })
    """
  }

  "It block": {
    prefix: "it"
    body: """
      it('$1', () => {
        $2
      })
    """
  }

  "Describe block": {
    prefix: "de"
    body: """
      describe('${1:description}', () => {
        ${2:body}
      })
    """
  }

  "Before each": {
    prefix: "be"
    body: """
      beforeEach(() => {
        $1
      }
    """
  }

  "After each": {
    prefix: "ae"
    body: """
      afterEach(() => {
        $1
      }
    """
  }

  "Expectation":
    prefix: "ex"
    body: "expect($1).to$2($3)"
}
